* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.relogio {
  width: 600px;
  height: 600px;
  position: relative;
  border: 5px solid black;
  border-radius: 100%;
}

.hora {
  position: absolute;
  bottom: 50%;
  right: 50%;
  height: 200px;
  width: 5px;
  background-color: red;
  transform-origin: bottom center;
  animation: girar 43200s linear infinite;
}

.min {
  position: absolute;
  bottom: 50%;
  right: 50%;
  height: 250px;
  width: 5px;
  background-color: blue;
  transform-origin: bottom center;
  animation: girar 3600s linear infinite;
}

.seg {
  position: absolute;
  bottom: 50%;
  right: 50%;
  height: 300px;
  width: 5px;
  background-color: green;
  transform-origin: bottom center;
  animation: girar 60s linear infinite;
}

.marcador-grande {
  position: absolute;
  width: 50px;
  height: 5px;
  background-color: black;
}

.top {
  transform-origin: left top;
  transform: rotateZ(90deg);
  top: 0px;
  left: 50%;
}

.bot {
  bottom: 0px;
  left: 50%;
  transform-origin: left bottom;
  transform: rotateZ(-90deg);
}

.right {
  right: 0px;
  bottom: 50%;
}

.left {
  left: 0px;
  top: 50%;
}

@keyframes girar {
  to {
    transform: rotateZ(360deg);
  }
}